*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#start-btn{
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    width: 20ch;
    margin: 2rem auto;
    border-radius: 5px;
    color: rgb(66 161 242);
    background-color: rgb(21 32 43);
}
